@using SimpleChatboard.Data.Entities
@model IEnumerable<Room>

<div class="room-list">
    @foreach (var room in Model)
    {
        <div class="room-item">
            <a asp-page="/Rooms/Chat" asp-route-id="@room.Id">@room.Name</a>
        </div>
    }
</div>