@model List<SimpleChatboard.Web.Data.Room>

@if (Model.Any())
{
    <div class="list-group">
        @foreach (var room in Model)
        {
            <a asp-page="/Rooms/Chat" asp-route-id="@room.Id" 
               class="list-group-item list-group-item-action">
                @room.Name
            </a>
        }
    </div>
}
else
{
    <div class="text-center text-muted">
        <p>No rooms available</p>
    </div>
}